:root {
    --main-color: #2196F3;
    --teambackground-color: #F5F4FA;
    --footer-color: #2F303A;
    --heading-color: #212121;
    --paragraph-color: #757575;
    --hovereditemtext-color: #fff;
    --hoveredservicebutton-color: #188CE8;
}

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

p {
    color: var(--paragraph-color);
}

h2, h3, a, button {
    color: var(--heading-color);
}

header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

footer a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--teambackground-color);
}

.team-members {
    background-color: var(--hovereditemtext-color);
}

address {
    font-weight: 400;
    font-style: normal;
}

a:hover,
a:focus {
    color: var(--main-color);
}

.presentation {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.location {
    color: var(--hovereditemtext-color);
}

.contact-info {
    color: var(--paragraph-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
}

.servicebutton {
    background-color: var(--main-color);
    color: var(--hovereditemtext-color);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.servicebutton:hover {
    background-color: var(--hoveredservicebutton-color);
    cursor: pointer;
}

.presentation, footer {
    background-color: var(--footer-color);
    color: var(--hovereditemtext-color);
}

.features h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.team-members h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.filtereditems h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.services p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.team p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.filtereditems p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.filterselect {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.filterselect [type="button"]:hover {
    background-color: var(--main-color);
    color: var(--hovereditemtext-color);
    border: none;
    cursor: pointer;
}
